<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Melee Game</title>
    <link rel="stylesheet" href="../static/styles/index.css" />
    <link rel="stylesheet" href="../static/styles/game.css" />
</head>
<body>
<nav>
        <div class="topnav">
            <a href="/">Return Home</a>
            <a href="scores">View Leaderboard</a>
</div>
      </nav>
<h1>The Melee Name Game</h1>
<h2>{{ tag }}</h2>
<form method="POST">
<select name="guess" id='player-select'>
    <option value="">--Please choose an option--</option>
      <option value="{{ name1 }}">{{ name1 }}</option>
      <option value="{{ name2 }}">{{ name2 }}</option>
</select>
     {{ form.submit() }}
</form>
<h4>Score: {{ score }}</h4>
</body>
</html>